node_modules/
*.env
*.log

src/services/archive/

# Ignore session database
sessions.db

# Ignore main database
database.db
database.sqlite
db-backups/
src/db/*

# Ignore SSL certificate
ssl/

# Ignore generated reports
generated_reports/
