<!-- error.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Erreur</title>
  <!-- Inclure Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    crossorigin="anonymous"
  />
  <!-- Votre fichier CSS personnalisé -->
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <div class="alert alert-danger mt-5">
      <h2>Erreur</h2>
      <p><%= message %></p>
      <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
  </div>

  <!-- Inclure Bootstrap JS et jQuery -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>
