    </main>
  </div>
  <footer class="app-footer">
    <div class="footer-content">
      <div class="footer-version" title="Application Version">
        <i class="fas fa-code-branch"></i>
        <span>VIRGA v<%= process.env.APP_VERSION %></span>
      </div>
    </div>
  </footer>
  <% if (showScripts) { %>
    <!-- Scripts -->
    <!-- Load jQuery, Popper.js, and Bootstrap JS -->
    <script src="/static/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <% if (customScripts && customScripts.length > 0) { %>
      <% customScripts.forEach(function(script) { %>
        <script src="<%= script %>"></script>
      <% }); %>
    <% } %>
  <% } %>
</body>
</html> 